[Desktop Entry]
Type=Application
Name=DHT Inspector
GenericName=Mainline DHT Diagnostic Tool
Comment=Interrogate individual nodes and monitor the health of the mainline DHT
Exec=DHTInspector
Icon=dhtinspector
Terminal=false
Categories=Network;Development;
Keywords=DHT;BitTorrent;Kademlia;Diagnostics;Network;
